*{
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: bolder;
    font-size: 20px;
}

body {
    background-color: #4e175e;
}

.lobby-div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#lobby-log-textarea {
    vertical-align: top;
    text-align: center;
    color: #e306ff;
    background: black;
    border-radius: 25px;
    border: 2px solid #e306ff;
    min-width: 600px;
    min-height: 600px;
    margin: 10px;
}

button {
    color: white;
    margin: 10px;
    border-radius: 20px;
    padding: 7px 40px;
    transition: all 0.3s;
    background: #e306ff;
}

button:hover {
    cursor: pointer;
    background: #ff00fd;
}
